In [1]:
import pandas as pd
import numpy as np
from collections import Counter

In [2]:
df = pd.read_csv('learnings.csv')
df.head()

,title,description,sub_category,skills,num_skills
0,Machine Learning Specialization,#BreakIntoAI with Machine Learning Specializat...,Machine Learning,"['Decision Trees', 'Artificial Neural Network'...",12
1,Introduction to Data Science Specialization,Launch your career in data science. Gain found...,Data Analysis,"['Data Science', 'Relational Database Manageme...",12
2,Data Science Fundamentals with Python and SQL ...,Build the Foundation for your Data Science car...,Data Analysis,"['Data Science', 'Github', 'Python Programming...",12
3,Key Technologies for Business Specialization,Get Ahead with Key Business Technologies. Gain...,Business Essentials,"['Data Science', 'Artificial Intelligence (AI)...",12
4,Deep Learning Specialization,Become a Machine Learning expert. Master the f...,Machine Learning,"['Artificial Neural Network', 'Convolutional N...",12

In [4]:
df['description'] = df['description'].fillna(df['description'].mode()[0])

In [5]:
df.drop_duplicates(subset=['title'],inplace=True)

In [6]:
df.shape

(4908, 5)

In [7]:
df['skills_list'] = df['skills'].apply(lambda x: [s.strip() for s in x.split(',')])

In [8]:
all_skills = [skill for sublist in df['skills_list'] for skill in sublist]

In [9]:
skill_count = Counter(all_skills)
print('Top 20 skills:\n')
print(skill_count.most_common(20))

Top 20 skills:

[("'Financial Statement'", 3066), ("'Accounting'", 3063), ("['Financial Accounting'", 3051), ("'Balance Sheet']", 3044), ("'Data Analysis'", 104), ("'Python Programming'", 89), ("'Machine Learning'", 78), ("'Communication'", 76), ("['Data Science'", 55), ("'Data Visualization (DataViz)'", 48), ("'Leadership'", 46), ("'Problem Solving'", 40), ("'Management'", 38), ("'Marketing'", 35), ("'Cloud Computing']", 34), ("'Microsoft Excel'", 33), ("'R Programming'", 33), ("'SQL'", 30), ("['Data Analysis'", 30), ("'Algorithms'", 30)]

In [17]:
num_courses = df.shape[0]
print(f"\nTotal number of courses: {num_courses}")

spc = df['skills'].apply(len)
print(f"\nAverage skills per course: {spc}")

Total number of courses: 4908

Average skills per course: 0       281
1       219
2       235
3       203
4       284
       ...
8087     78
8088     78
8089     78
8090     78
8091     78
Name: skills, Length: 4908, dtype: int64

In [18]:
df.head()

,title,description,sub_category,skills,num_skills,skills_list
0,Machine Learning Specialization,#BreakIntoAI with Machine Learning Specializat...,Machine Learning,"['Decision Trees', 'Artificial Neural Network'...",12,"[['Decision Trees', 'Artificial Neural Network..."
1,Introduction to Data Science Specialization,Launch your career in data science. Gain found...,Data Analysis,"['Data Science', 'Relational Database Manageme...",12,"[['Data Science', 'Relational Database Managem..."
2,Data Science Fundamentals with Python and SQL ...,Build the Foundation for your Data Science car...,Data Analysis,"['Data Science', 'Github', 'Python Programming...",12,"[['Data Science', 'Github', 'Python Programmin..."
3,Key Technologies for Business Specialization,Get Ahead with Key Business Technologies. Gain...,Business Essentials,"['Data Science', 'Artificial Intelligence (AI)...",12,"[['Data Science', 'Artificial Intelligence (AI..."
4,Deep Learning Specialization,Become a Machine Learning expert. Master the f...,Machine Learning,"['Artificial Neural Network', 'Convolutional N...",12,"[['Artificial Neural Network', 'Convolutional ..."

In [12]:
df.drop('num_skills',axis=1)

,title,description,sub_category,skills,skills_list
0,Machine Learning Specialization,#BreakIntoAI with Machine Learning Specializat...,Machine Learning,"['Decision Trees', 'Artificial Neural Network'...","[['Decision Trees', 'Artificial Neural Network..."
1,Introduction to Data Science Specialization,Launch your career in data science. Gain found...,Data Analysis,"['Data Science', 'Relational Database Manageme...","[['Data Science', 'Relational Database Managem..."
2,Data Science Fundamentals with Python and SQL ...,Build the Foundation for your Data Science car...,Data Analysis,"['Data Science', 'Github', 'Python Programming...","[['Data Science', 'Github', 'Python Programmin..."
3,Key Technologies for Business Specialization,Get Ahead with Key Business Technologies. Gain...,Business Essentials,"['Data Science', 'Artificial Intelligence (AI)...","[['Data Science', 'Artificial Intelligence (AI..."
4,Deep Learning Specialization,Become a Machine Learning expert. Master the f...,Machine Learning,"['Artificial Neural Network', 'Convolutional N...","[['Artificial Neural Network', 'Convolutional ..."
...,...,...,...,...,...
8087,Certified Scrum Master,This Certified ScrumMaster® (CSM) certificatio...,Leadership and Management,"['Financial Accounting', 'Accounting', 'Financ...","[['Financial Accounting', 'Accounting', 'Finan..."
8088,Salesforce Basics Course for Beginners,Discover how to produce visual data analytics ...,Leadership and Management,"['Financial Accounting', 'Accounting', 'Financ...","[['Financial Accounting', 'Accounting', 'Finan..."
8089,ICP-ACC (ICAgile Certified Agile Coaching) Cer...,This ICP-ACC Certification Training Course aim...,Leadership and Management,"['Financial Accounting', 'Accounting', 'Financ...","[['Financial Accounting', 'Accounting', 'Finan..."
8090,/irisprodflip456,Iris Production check 456,Leadership and Management,"['Financial Accounting', 'Accounting', 'Financ...","[['Financial Accounting', 'Accounting', 'Finan..."
8091,Introduction to Industry 4.0,Introduction to Industry 4.0,Leadership and Management,"['Financial Accounting', 'Accounting', 'Financ...","[['Financial Accounting', 'Accounting', 'Finan..."

In [19]:
df.drop('skills_list',axis=1)

,title,description,sub_category,skills,num_skills
0,Machine Learning Specialization,#BreakIntoAI with Machine Learning Specializat...,Machine Learning,"['Decision Trees', 'Artificial Neural Network'...",12
1,Introduction to Data Science Specialization,Launch your career in data science. Gain found...,Data Analysis,"['Data Science', 'Relational Database Manageme...",12
2,Data Science Fundamentals with Python and SQL ...,Build the Foundation for your Data Science car...,Data Analysis,"['Data Science', 'Github', 'Python Programming...",12
3,Key Technologies for Business Specialization,Get Ahead with Key Business Technologies. Gain...,Business Essentials,"['Data Science', 'Artificial Intelligence (AI)...",12
4,Deep Learning Specialization,Become a Machine Learning expert. Master the f...,Machine Learning,"['Artificial Neural Network', 'Convolutional N...",12
...,...,...,...,...,...
8087,Certified Scrum Master,This Certified ScrumMaster® (CSM) certificatio...,Leadership and Management,"['Financial Accounting', 'Accounting', 'Financ...",4
8088,Salesforce Basics Course for Beginners,Discover how to produce visual data analytics ...,Leadership and Management,"['Financial Accounting', 'Accounting', 'Financ...",4
8089,ICP-ACC (ICAgile Certified Agile Coaching) Cer...,This ICP-ACC Certification Training Course aim...,Leadership and Management,"['Financial Accounting', 'Accounting', 'Financ...",4
8090,/irisprodflip456,Iris Production check 456,Leadership and Management,"['Financial Accounting', 'Accounting', 'Financ...",4
8091,Introduction to Industry 4.0,Introduction to Industry 4.0,Leadership and Management,"['Financial Accounting', 'Accounting', 'Financ...",4

In [22]:
df.to_csv('learnings.csv',index=True)